
    <div class="raw">
      <div class="col-md-12">
        <div class="form-group">
          <%= f.text_field :address_line1, class: "form-control inputs",placeholder:"Address Line 1" %>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <%= f.text_field :address_line2, class: "form-control inputs",placeholder:"Address Line 2" %>
        </div>
      </div>
    </div>
    <div class="raw">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.text_field :city, class: "form-control inputs",placeholder:"City" %>
        </div>
        <div class="form-group" style="height:34px;padding-top:5px">
          <%= f.text_field :country, class: "form-control inputs",placeholder:"Country" %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= f.text_field :zip_code, class: "form-control inputs",placeholder:"Postal Code" %>
        </div>
      </div>
    </div>

