<style>
  .nav_bar_custom{
    min-height: 10px !important;
    padding-top: 10px;
  }
  .merchant-sign-in-li{
    background-color: #cc4d23;
    height: 40px;
  }
  .merchant-sign-in {
    height: 34px;
    font-size: 14px;
    border-radius: 3px;
  }

  .merchant-start-li{
    background-color: #4971cc;
  }
    .nav_cus li{
      display: inline;
    }
</style>

<script>

    $( document ).ready(function() {
        getCartCountAtHeader();
    });


    function getCartCountAtHeader() {
        var Url ="<%= request.base_url %>"+"/prd_items/get_cart_count";
        console.log("<%= request.base_url %>");
        $.ajax({
            type:"GET",
            url:Url,
            dataType:"json",
            success:function(result){
                // alert(result);
                setCartCountAtHeader(result.length);
            },
            error: function() {
            }
        });
    }

    function setCartCountAtHeader(count){
        $('#cart_count').html(count);
    }
</script>

<div class="container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/prd_items"><%= image_tag "site_logo.png", style: "height: 50px; margin-top: 20px;" %> </a>
  </div>
  <%-  if controller_name == "usr_vendor_properties" && action_name == "index"  %>
    <div class = "navbar-collapse collapse nav_bar_custom">
      <ul class="navbar-right nav_cus" >
        <%- if @current_merchant %>
          <li><%= link_to "MERCHANT ADMIN",usr_vendor_property_path(@current_merchant.usr_vendor_property_id) , class:"btn merchant-sign-in", style:'color:#FFFFFF;background-color:#ee514d' %></li>
          <li>&nbsp; &nbsp; </li>
          <li><%= link_to "EDIT SHOP DETAILS", edit_usr_vendor_property_path(@current_merchant.id) , class:"btn merchant-sign-in", style:'color:#FFFFFF;background-color: #1c94c4;'  %></li>
        <% else %>
          <li><%= link_to "MERCHANT SIGN IN",sign_in_usr_vendor_properties_path , class:"btn merchant-sign-in", style:'color:#FFFFFF;background-color:#ee514d' %></li>
          <li>&nbsp; &nbsp; </li>
          <li><%= link_to "GET STARTED", new_usr_vendor_property_path , class:"btn merchant-sign-in", style:'color:#FFFFFF;background-color: #1c94c4;'  %></li>
        <% end %>

      </ul>
    </div>
  <% elsif  controller_name == "usr_vendor_properties" && action_name == "show" %>
      <div class = "navbar-collapse collapse nav_bar_custom">
        <ul class="navbar-right nav_cus" >
          <li style="padding-right: 15px"> <div class="glyphicon glyphicon-envelope"></div> <%= link_to "Mail Box" %></li>
          <li style="padding-right: 15px"> <div class="glyphicon glyphicon-briefcase"></div> <%= link_to @vendor.shop_name.to_s %></li>
          <li> <div class="glyphicon glyphicon-user"></div> <%= link_to @user_contact.first_name.to_s %></li>


        </ul>
      </div>
  <% else %>
    <div class = "navbar-collapse collapse nav_bar_custom">
      <ul class="nav navbar-nav navbar-right" >
        <li><%= link_to "Sell on Smartmall", usr_vendor_properties_path %></li>
        <%- if usr_contact_signed_in? %>
            <li><div style="display: inline-flex; margin-top: 15px;">
              <%-  if controller_name == "prd_items" && action_name == "index"  %>
                  <%= link_to  @user_contact.first_name.to_s, new_usr_buyer_property_path %>
              <%-end%>
              &nbsp;<%= link_to "Sign out", destroy_usr_contact_session_path, method: :delete%></div></li>
        <% else %>
            <!--li><!--%= link_to "Sign up", new_usr_contact_registration_path , :class=>'glyphicon glyphicon-user'%></li-->
            <li><%= link_to "Sign in or Register", new_usr_contact_session_path , :remote => true, 'data-toggle' => "modal", 'data-target' => "#loginPopup" %></li>
            <!--li><!--%= link_to "Login", new_usr_contact_session_path , :class=>'glyphicon glyphicon-log-in'%></li-->
        <% end %>
        <li><%= image_tag "Cart_new.PNG", style:"margin: 10px;" %></li>
        <div class="pull-right cart-count" id="cart_count" >
          0
        </div>
      </ul>
    </div>
  <% end %>

</div>


